@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* @import "mdbreact/dist/css/mdb.css"; */

:root {
  --primary-color: #335eea;
  --text-color: #161c2d;
}

body,
html {
  font-family: "Roboto", sans-serif !important;
  line-height: 1.6;
  overflow-x: hidden;
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Questrial", sans-serif !important;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.35;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.4;
}

a {
  text-decoration: none !important;
}

.text-gray-800 {
  color: #384c74 !important;
}

.mb-md-8 {
  margin-bottom: 3rem !important;
}

.italic {
  font-style: italic !important;
}

.logo {
  width: 4rem;
  height: auto;
  max-width: 4rem;
}

img {
  width: 100%;
  border-radius: 0.375rem !important;
}

a.navbar-brand {
  color: var(--primary-color) !important;
}

.navbar-nav .nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.fs-lg {
  font-size: 0.9rem !important;
  line-height: 1.5;
}

.bg-gradient-light-white {
  background-image: linear-gradient(180deg, #f9fbfd 0, #fff);
}

.index-blogs .not-featured {
  display: none;
}

.text-muted {
  color: #869ab8 !important;
  font-weight: 300 !important;
}

.lead {
  font-size: 1.3125rem !important;
  font-weight: 400 !important;
}

.border-bottom {
  border-bottom: 1px solid #f1f4f8 !important;
}

.goal-icon img {
  max-width: 3rem;
  margin-bottom: 1rem;
}

.card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff !important;
  border: 0 solid #f1f4f8 !important;
  border-radius: 0.375rem !important;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.card-body {
  min-height: 1px;
  position: relative;
  display: block;
  flex-grow: 0;
  flex: 1 1 auto !important;
  padding: 1rem !important;
}

.card-body h4 {
  color: #161c2d !important;
}

.badge.bg-primary-soft {
  background-color: rgba(51, 94, 234, 0.1);
  color: var(--primary-color);
}
.badge.bg-secondary-soft {
  background-color: rgba(80, 102, 144, 0.1);
  color: #506690;
}
.badge.bg-secondary-soft[href]:focus,
.badge.bg-secondary-soft[href]:hover {
  background-color: rgba(80, 102, 144, 0.2);
  color: #506690;
}

.h6.text-uppercase,
.text-uppercase.h6,
h6.text-uppercase {
  letter-spacing: 0.08em;
  font-size: 0.75rem;
}

/* Button */

.btn {
  padding: 0.8125rem 1.25rem !important;
}

.btn-outline-gray-300 {
  border-color: #d9e2ef;
  color: var(--primary-color);
}

.btn-outline-gray-300.active,
.btn-outline-gray-300:focus,
.btn-outline-gray-300:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.lift {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.lift:focus,
.lift:hover {
  box-shadow: 0 2rem 5rem rgba(22, 28, 45, 0.1),
    0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.05) !important;
  transform: translate3d(0, -5px, 0);
}

.btn-primary-soft.active,
.btn-primary-soft:focus,
.btn-primary-soft:hover {
  background-color: rgba(51, 94, 234, 0.15);
  color: var(--primary-color);
}

.shadow-light-lg {
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05) !important;
}

/* Spacing */

.py-md-10 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.py-md-11 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-md-12 {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

/* Fomrs */

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #f1f4f8;
  border-radius: 0.375rem;
  box-shadow: none;
  color: #161c2d;
  display: block;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0.8125rem 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.form-label {
  margin-bottom: 0.5rem;
}

label {
  display: inline-block;
}

/* Footer */

.list-inline span {
  color: var(--bs-dark);
}

.bg-gray-200 {
  background-color: #f1f4f8 !important;
}
.text-gray-700 {
  color: #506690 !important;
}

.shape:not([class*="shape-blur"]) {
  overflow: hidden;
}

.shape-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.shape {
  pointer-events: none;
  position: absolute;
}

.shape:not([class*="shape-blur"]) > * {
  transform: scale(2);
}

.shape-fluid-x > * {
  height: auto;
  width: 100%;
}

.shape-bottom > * {
  transform-origin: top center;
}

.shape > * {
  display: block;
}

.bg-image-contact {
  /* background-image: url(../img/rnit-school.jpg) ;*/
  background-size: cover;
  background-position: bottom;
}

/* Gallery */

.carousel {
  position: relative;
  height: 50vh;
  background: gray;
}

.active.carousel-item {
  height: 50vh;
}

.sr-only {
  display: none;
}

.horizontal-scroll {
  margin-left: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.image-name {
  width: 160px;
  margin: 5px;
}

.image-name p {
  text-transform: capitalize;
  font-size: 0.8rem;
  text-align: center;
}

.image-container {
  display: inline-flex;
  padding: 20px 20px 20px 0;
}

/* About Page */

.about h3 {
  padding: 2rem 0;
}

@media only screen and (min-width: 992px) {
  .w-lg-130 {
    width: 130% !important;
  }
}

@media only screen and (min-width: 768px) {
  .w-md-150 {
    width: 150% !important;
  }
  .fs-lg {
    font-size: 1.1875rem !important;
  }
  .py-md-12 {
    padding-top: 6rem;
  }
}
